body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.form-container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    min-height: 85vh; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    margin: 4px;
}



.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FFDD00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
    text-decoration: none;
    color: black;
}

.go-back-button:hover {
    background-color: #ffe958;
}

a {
    text-decoration: none;
}

.add-button {
    padding: 10px;
    background-color: #65b665;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 6px;
    width: 40px;
    height: 40px;
}

.add-button:hover {
    background-color: #7bc77b;
}
.delete-button, .edit-button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #F8F8F8;
}
.fa-solid.fa-pen{
    color: rgb(52, 52, 200);
}

.fa-solid.fa-pen:hover{
    color: rgb(16, 16, 149);
}

.fas.fa-trash-alt{
    color: red;
}

.fas.fa-trash-alt:hover{
    color: rgb(176, 3, 3);
}


.form-group-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 300px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.line {
    width: 70%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

input{
    padding: 14px 9px; 
    margin: 10px 0;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #F8F8F8;
}

.form-group-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-group-content .buttons{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button{
    margin-top: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #65b665;
}
.button:hover{
    background-color: #7bc77b;
}

.button.no{
    background-color: lightgrey;
}

