body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}
.go-back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFDD00;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    top: 20px;
    left: 15px;
    padding: 10px;
    position: absolute;
}

.sub-container {
    display: flex;
    gap: 20px;
}

.user-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    transition: box-shadow 0.3s;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user-box:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.user-box p {
    margin: 0 0 5px; 
    font-weight: bold;
    font-size: 1em; 
    margin-bottom: 6px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-form {
    margin: 0;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
}

.delete-button i {
    pointer-events: none;
}

.delete-button:hover {
    color: darkred;
}
#searchBar {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* User container */
#userContainer {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    min-height: 85vh; 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.user-info {
    margin-top: 15px;
    width: -webkit-fill-available;
}

.user-info h2 {
    font-size: 20px;
    margin: 10px;
    color: #333;
}

.user-info p {
    font-size: 14px;
    color: #666;
}

.user-info ul {
    padding: 0;
    list-style: none;
}

.user-info li {
    font-size: 14px;
    color: #444;
    text-align: left;
}

.task-item{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 6px;
}

.assign-button {
    padding: 10px;
    background-color: #65b665;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 6px;
    width: 40px;
    height: 40px;
}

.assign-button:hover {
    background-color: #7bc77b;
}

#task_type{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-form{
    display:flex;
    flex-direction: column;
}

.select-content{
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.label{
    font-size: 18px;
    font-weight: bold;
}

.task-types-content{
    display: flex;
    gap: 6px;
}
.task-types{
    text-align: left;

}