body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.assign-task-container {
    margin-top: 20px;
    min-height: 85vh; 
    padding: 20px;
    background-color: white;
    color: black;
}

.go-back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFDD00;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    top: 20px;
    left: 15px;
    padding: 10px;
    position: absolute;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-box {
    width: calc(33% - 20px); /* Reduce width for smaller boxes */
    border: 1px solid #ddd;
    padding: 10px; /* Reduce padding for smaller boxes */
    border-radius: 8px;
    box-sizing: border-box;
}

.user-box p {
    margin: 0 0 5px; /* Reduce margin for smaller boxes */
    font-weight: bold;
    font-size: 1em; /* Reduce font size */
    margin-bottom: 6px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-form {
    margin: 0;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
}

.delete-button i {
    pointer-events: none;
}

.delete-button:hover {
    color: darkred;
}

.assign-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.assign-button:hover {
    background-color: #0056b3;
}

#searchBar {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}