body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
/* Base styles for the form */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Styling the label and input elements */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Styling the submit button */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #FFDD00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffe958;
}

/* Styles for success and error messages */
.success-message {
    color: green;
    font-size: 16px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
}

.form{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    min-height: 85vh; 
    display: flex;
    flex-direction: column;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FFDD00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
    text-decoration: none;
}

.go-back-button:hover {
    background-color: #ffe958;
}

a {
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.button{
    margin-top: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #65b665;
}
.button:hover{
    background-color: #7bc77b;
}

.button.no{
    background-color: lightgrey;
}

