body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
.generate-report-container {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    align-items: center;
    display: flex;
}

input[type="date"],
select,
input[type="time"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #495057;
}

.multiselect-dropdown,
.dropdown {
    width: -webkit-fill-available;
    padding: 10px !important;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    color: #495057;
    background-color: '##f8f9fa' !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#666" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.multiselect-dropdown{
    padding:10px;
}

.multiselect-dropdown[multiple],
.dropdown[multiple] {
    background-image: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFDD00;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #ffe958;
}

.error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FFDD00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
    text-decoration: none;
   
}

.go-back-button:hover {
    background-color: #ffe958;
}

.container{
    height: 100vh;
    background-color: white;
    align-items: center;
    display: flex;
}

.period-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}