
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 10px;
}

.generate-report-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.generate-report-heading {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="date"],
select,
input[type="time"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #495057;
}

.multiselect-dropdown,
.dropdown {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #495057;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#666" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.multiselect-dropdown[multiple],
.dropdown[multiple] {
    background-image: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFDD00;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #ffe958;
}

.error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
}
