/* Reset CSS */
* {
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}


h1 {
    text-align: center;
}

/* Location Dropdown */
.location-dropdown {
    margin-bottom: 20px;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FFDD00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
}

.go-back-button:hover {
    background-color: #ffe958;
}

a {
    text-decoration: none;
}

/* View Navigation */
.view-navigation {
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.view-navigation a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #808080;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.view-navigation a:hover {
    background-color: #a7a7a7;
}

/* Navigation Styles */
.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.navigation a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #FF6600;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.navigation a:hover {
    background-color: #ff8d40;
}

/* Day Styles */
.day {
    border: 1px solid #ddd;
    background-color: white;
}

.day-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    display: grid;
    gap: 1px;
    min-height: 62px;
    align-content: center;
}

/* Event Styles */
.event {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 6px;   
    border-radius: 4px;
}

.event strong {
    font-weight: bold;
}

/* Time Off Styles */
.event.time-off {
    background-color: #ffc107;
    border-color: #ffc107;
}

/* Calendar Styles */
.calendar, .week {
    display: grid;
}

.calendar {
    grid-template-columns: repeat(7, 1fr);
}

.week {
    grid-template-columns: repeat(7, 1fr);
}

.day {
    grid-template-columns: 1fr;
}

.calendar .day, .week .day{
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 80px;
}

.calendar .header, .week .header {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.calendar .event, .week .event, .day .event {
    margin: 10px;
    padding: 5px;
    background-color: #e0f7fa;
    border-left: 4px solid #00796b;
}

.day .event.time-off {
    background-color: #ffe0b2;
    border-color: #ffc107;
}


.form-container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    height: 100vh; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-content{
    margin: 0 auto;
    width: 70%;
}

.no-events {
    font-style: italic;
    color: #777;
    margin: 10px;
}