body{
    margin: 0;
    height: 100vh;
    font-family: 'Mulish', sans-serif;
}

.login-screen{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.login-left{
    background-color: #F4F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen-image{
    width: 70%;
}

form{
    display: grid;
}

select{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

input{
    padding: 14px 9px; 
    margin: 10px 0;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #F8F8F8;
}

button{
    padding: 14px 9px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #0067FF;
    color: white;
    cursor: pointer;
}