body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.form-container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    min-height: 85vh; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FFDD00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
}

.go-back-button:hover {
    background-color: #ffe958;
}

a {
    text-decoration: none;
}

.add-button {
    padding: 10px;
    background-color: #65b665;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 6px;
    width: 40px;
    height: 40px;
}

.add-button:hover {
    background-color: #7bc77b;
}


.delete-button, .edit-button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    background-color: #F8F8F8;

}


.fas.fa-trash-alt{
    color: red;
}

.fas.fa-trash-alt:hover{
    color: rgb(176, 3, 3);
}

.form-group-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 300px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.line {
    width: 70%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}



input{
    padding: 14px 9px; 
    margin: 10px 0;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #F8F8F8;
}

.form-group-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-group-content .buttons{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
